<app-container>
  <header>Create An Account</header>
  <form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <app-input
      label="Username"
      [control]="toControl(authForm.get('username'))"
    ></app-input>
    <app-input
      label="Password"
      inputType="password"
      [control]="toControl(authForm.get('password'))"
    ></app-input>
    <app-input
      label="Password Confirmation"
      inputType="password"
      [control]="toControl(authForm.get('passwordConfirmation'))"
    ></app-input>

    <div *ngIf="authForm.errors" class="ui red basic label">
      <p *ngIf="authForm.errors?.['passwordsDontMatch']">
        Password and Password Confirmation must match
      </p>
      <p *ngIf="authForm.errors?.['noConnection']">
        Sorry, can't connect to server.
      </p>
      <p *ngIf="authForm.errors?.['unknownError']">Failed to sign up.</p>
    </div>

    <div>
      <button class="ui submit button primary">Submit</button>
    </div>
  </form>
</app-container>
